#brand{
    width: 50px;
    height: 50px;
}
#homepage{
    background-image: linear-gradient(15deg,rgba(32, 1, 34,0.8), rgba(111, 0, 0,0.8)),
                      url("../navbar/navbar-background.jpg"); 
    height: auto;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
#thanh-menu:hover{
    background:  black;
}
#barContent{
    margin: 10px;
}
.dropdown-menu{
    background: linear-gradient(to bottom, #d3cce3, #e9e4f0);
}
#lala{
    margin-top: 100px;
}
#header-tieude{
    font-size: 5em;
    color: whitesmoke;
}
#header-content{
    font-size: 1.5em;
    color: whitesmoke;
}

@media (max-width: 760px){
    #header-tieude{
        font-size: 3em;
    }
    #header-content{
        font-size: 1em;
    }
    #lala{
        margin: 50px
    }

    .contact-list{
        text-align: left;
    }

    #footerrr{
        text-align: center;
    }
}
.icon-function{
    border: 1px solid white;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    transition: transform .3s;
    
}

.icon-function:hover{
    transform: scale(1.5);
}   


/* content */
#contenttt{
    margin-top: 50px ;
    margin-bottom: 50px ;
}

.product-anh{
    width: 100px;
    height: 100px;
    margin: 15px 5px;
    border: 1px solid coral;
}
.product-anh:hover{
    box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
}
#khung{
    border-right: 1px solid #D8D8D8;
    
}
#product-show{
    height: 320px;
    width: 300px;
    margin: 0;
}

#title-product{
    font-size: 40px;
}

#header-product , #content-product, #price-product{
    border-bottom: 1px solid #D8D8D8;
}

#content-product{
    padding: 15px 0;
}

#price-product{
    color: red;
    padding: 20px;
}

ul{
    margin-top: 15px ;
    margin-bottom: 15px;
}

/* footer */
#footerrr{
    background: linear-gradient(15deg,rgba(32, 1, 34,1), rgba(111, 0, 0,1));            
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    color: wheat;
    padding: 50px 0 0 0;
    
}
h5{
    font-weight: bold;
}
.link-footer{
    text-decoration: none;
    color: wheat;
}
.link-footer:hover{
    
    color: whitesmoke;
}
hr{
    border-color: wheat;
}
.contact-footer{
    margin: 10px 0;
}