/* body{
    background-image: linear-gradient(15deg,rgba(32, 1, 34,0.8), rgba(111, 0, 0,0.8)),
    url(../navbar/content2.jpg);
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;
} */
/* header- phần đầu trang */
#thanh-menu{
    background-color: #2E2E2E;
}
#thanh-menu:hover{
    background:  black;
}

#barContent{
    margin: 10px;
}
#brand{
    width: 50px;
    height: 50px;
}

.anh-slide{
    height: 500px;
}
.icon-function{
    border: 1px solid white;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    transition: transform .3s;
    
}

.icon-function:hover{
    transform: scale(1.5);
}
/* container-phần nội dung trang */

/* menu */
.container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.menu-theloai{
    margin-top: 20px;
    margin-bottom: 20px;
}
.link-menuu{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.link-menuu:hover{
    font-size: 25px;
}
#anh-menu{
    width: 200px;
    height: 150px;
}

/* product item */
a:hover{
    text-decoration: none;
}
.product-item{
   
    background-color: #F2F2F2;
    margin: 20px;
    height: auto;
    padding: 0;
    
}
.product-item:hover{
    box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
}
@media (max-width: 768px) {
    .product-item{
        width: auto;
    }

    /* slide */
    .anh-slide{
        width: 70%;
        height: 85%;
    }
    #footerrr{
        text-align: center;
    }
  }
.product-khunganh{
    overflow: hidden;
}
.product-anh{
    display: block;
    height: 250px;
    right:10px;
    transition: transform .2s;
}
.product-anh:hover,.product-anh:focus{
    transform: scale(1.5);
}
.product-title{
 
 margin: 5px;
 
}
.product-price{
    color: #FF8000;
}
.product-buy{
    font-size: 15px;
}
/* container-phần nội dung trang (kết) */

/* Chân trang - footer */
#footerrr{
    background: linear-gradient(15deg,rgba(32, 1, 34,1), rgba(111, 0, 0,1));            
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    color: wheat;
    padding: 50px 0 0 0;
    
}
h5{
    font-weight: bold;
}
.link-footer{
    text-decoration: none;
    color: wheat;
}
.link-footer:hover{
    
    color: whitesmoke;
}
hr{
    border-color: wheat;
}
.contact-footer{
    margin: 10px 0;
}
